$main-color: #E5E5E5;
$bg-item:  #FFFFFF;
$btn-blue: #1890FF;
$border-green: #52C41A;
$border-light-grey: #D9D9D9;
$text-main: rgba(0, 0, 0, 0.75);
$text-secondary:  rgba(0, 0, 0, 0.5);
$text-dark: rgba(0, 0, 0, 0.85);
$text-light-grey: #8C8C8C;
$text-title: #1890FF;
$text-error:  #F5222D;
$light-grey:#E8E8E8;
$input-bg: #BFBFBF;
$form-text: #262626;
$checkbox-label: #595959;
